//Container
$containerPaddingTop: 24px;
$containerPaddingBottom: 24px;
//shape
$shapeSize: 70px;
$shapeBorderWidth: 4px;
$shapeBorderColor: green;
$shapeBorderRadius: 50%;
$shapeBackgroundColor: white;
//line
$lineWidth: 3px;
$lineColor:green;
$linePadding: 10px;
//shapeContent
$shapeContentColor: green;

.container-stepper-wizard{
    padding-top: $containerPaddingTop;
    padding-bottom: $containerPaddingBottom;
    display: table;
    width: 100%;
    margin: 0px auto;
    min-height: 0px;
    .step-outer-stepper-wizard{
        // width: 33.333%;
        display: table-cell;
        position: relative;

        .shape-stepper-wizard {
            width: $shapeSize;
            height: $shapeSize;
            border: $shapeBorderWidth solid $shapeBorderColor;
            border-radius: $shapeBorderRadius;
            background-color: $shapeBackgroundColor;
            margin: 0px auto;
            text-align: center;
            padding: 0px;
            font-size: 16px;
            display: block;
            box-sizing: unset;

            .shape-content-stepper-wizard{
                font-size: ($shapeSize/2);
                line-height: $shapeSize;
                color: $shapeContentColor;
            }
            .disabled-stepper-wizard{
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-50%,-50%);
                border-radius: $shapeBorderRadius;
                z-index : 10;
                width: $shapeSize + 2*$shapeBorderWidth;
                height: $shapeSize + 2*$shapeBorderWidth;
                background-color: black;
                opacity: 0.5;
            }
        }


        .line-left-stepper-wizard{
            position: absolute;
            top: ($shapeSize / 2);
            border-top: $lineWidth solid $lineColor;
            right: 50%;
            left: 0px;
            margin-right: ($shapeSize /2 + $shapeBorderWidth + $linePadding);
        }
        .line-right-stepper-wizard{
            position: absolute;
            top: ($shapeSize / 2);
            border-top: $lineWidth solid $lineColor;
            right: 0px;
            left: 50%;
        }
    }
}

